
#mainNav{

display: table-header-group;
}


.nav-item{
 display: inline;
 margin-left: 350px;

    

}
body{
    background-color: white;
}

.tache{
    margin-top: 80px;
  padding-block-start: 60px;


}

.Corps{

margin-top: 200px;
margin-left: 500px;

}